.w-1000 {
    width: 1000px;
    margin: 0 auto;
    height: 857px;
    padding: 0;
    font-size: 16px;
    border:1px solid #000;
    background-color: #d1d1d1;
}

table,
tr,
td {
    border: 2px solid #666666;
    text-align: left;
    text-indent: 8px;
}

.table {
    width: 90%;
    margin: 0 auto;
}

.cen{
    text-align: center;
}
.btn-success{
    width: 100px;
    font-size: 20px;
}

